body {
    font-family: "Roboto", "Roboto Condensed", Helvetica;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.hero{
    background-color: #1F2937;
    display: flex;
}

.header {
    display: flex;
    height: 8vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 4.5vw;
    font-weight: 900;
    color: #F9FAF8;
    padding-left: 8vw;
}

@media (min-width: 500px) {
    .logo {
        font-size: 3.5vh;
        padding-left: 10vw;
    }
}

.navLinks {
    display: flex;
    flex-direction: row;
    font-size: 3.5vw;
    gap: 2vw;
    padding-right: 5vw;
}

@media (min-width: 500px) {
    .navLinks {
        font-size: 2.5vh;
    }
}

.navLinks li {
    list-style-type: none;
    padding: 0;
}

.navLinks a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero {
    display: flex;
    color: #F9FAF8;
    height: 25vh;
    justify-content: center;
    align-items: center;
}

@media (min-width: 500px) {
    .hero {
        height: 38vh
    }
}

.hero .content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-shrink: 1;
    gap: 5vw;
}

@media (min-width: 500px) {
    .hero .content {
        gap: 15vw;
    }
}

.rightContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContent {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-basis: 30vw;
}

.leftContent h1 {
    font-weight: 800;
    font-size: 3.5vh;
    margin: 0;
}

.leftContent p {
    max-width: 28vw;
    font-size: 1.5vh;
    margin: 1vh 0;
}

@media (min-width: 500px) {
    .leftContent h1 {
        font-size: 3.5vw;
    }

    .leftContent p {
        font-size: 2vw;
    }
}



.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #1F2937;
    font-size: 3vw;
    
}

@media (min-width: 500px) {
    .showcase {
        font-size: 1.5vw;
    }
}

.inspiration {

}

.signup {

}

.footer {

}